NetspeedMainWebsite/Connected Services/NetspeedServiceReference/NetspeedService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RadiusR.Address.QueryInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RadiusR.Address.QueryInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddressDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressNo" type="xs:long" />
      <xs:element minOccurs="0" name="AddressText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApartmentID" type="xs:long" />
      <xs:element minOccurs="0" name="ApartmentNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictID" type="xs:long" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoorID" type="xs:long" />
      <xs:element minOccurs="0" name="DoorNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeighbourhoodID" type="xs:long" />
      <xs:element minOccurs="0" name="NeighbourhoodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" type="xs:long" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuralCode" type="xs:long" />
      <xs:element minOccurs="0" name="StreetID" type="xs:long" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDetails" nillable="true" type="tns:AddressDetails" />
</xs:schema>