NetspeedMainWebsite/Connected Services/NetspeedServiceReference/NetspeedService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
  <xs:element name="RegisterCustomerContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q1:BaseRequestOfCustomerContactRequestSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCustomerContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="RegisterCustomerContactResult" nillable="true" type="q2:BaseResponseOfbooleanSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q3:BaseRequestOfServiceAvailabilityRequestSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="ServiceAvailabilityResult" nillable="true" type="q4:BaseResponseOfServiceAvailabilityResponseSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q5:BaseRequestOfstringSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetProvincesResult" nillable="true" type="q6:BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q7:BaseRequestOflongSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetProvinceDistrictsResult" nillable="true" type="q8:BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictRuralRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q9:BaseRequestOflongSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictRuralRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetDistrictRuralRegionsResult" nillable="true" type="q10:BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuralRegionNeighbourhoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q11:BaseRequestOflongSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuralRegionNeighbourhoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetRuralRegionNeighbourhoodsResult" nillable="true" type="q12:BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeighbourhoodStreets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q13:BaseRequestOflongSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeighbourhoodStreetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetNeighbourhoodStreetsResult" nillable="true" type="q14:BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetBuildings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q15:BaseRequestOflongSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetStreetBuildingsResult" nillable="true" type="q16:BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingApartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q17:BaseRequestOflongSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetBuildingApartmentsResult" nillable="true" type="q18:BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q19:BaseRequestOflongSHA1Miy85_SUl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetApartmentAddressResult" nillable="true" type="q20:BaseResponseOfAddressDetailsSHA1YRdDhl3A" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q21:BaseRequestOfSubscriberGetBillsRequestSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="GetBillsResult" nillable="true" type="q22:BaseResponseOfArrayOfSubscriberGetBillsResponseSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriberPaymentVPOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q23:BaseRequestOfSubscriberPayBillsRequestSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriberPaymentVPOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="SubscriberPaymentVPOSResult" nillable="true" type="q24:BaseResponseOfSubscriberPayBillsResponseSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q25:BaseRequestOfPayBillsRequestSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="PayBillsResult" nillable="true" type="q26:BaseResponseOfPayBillsResponseSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCustomerRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="baseRequest" nillable="true" type="q27:BaseRequestOfNewCustomerRegisterRequestSHA1O2vOAcMM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCustomerRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" minOccurs="0" name="NewCustomerRegisterResult" nillable="true" type="q28:BaseResponseOfArrayOfKeyValueOfstringstringSHA1PGu3YCeQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>