NetspeedMainWebsite/Connected Services/NetspeedServiceReference/NetspeedService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RadiusR.Address.QueryInterface" />
  <xs:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BaseRequestOfCustomerContactRequestSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerContactRequest" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q1:CustomerContactRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfCustomerContactRequestSHA1O2vOAcMM" nillable="true" type="tns:BaseRequestOfCustomerContactRequestSHA1O2vOAcMM" />
  <xs:complexType name="BaseRequestOfSHA1o_Pr6u_PMh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequestOfSHA1o_Pr6u_PMh" nillable="true" type="tns:BaseRequestOfSHA1o_Pr6u_PMh" />
  <xs:complexType name="BaseResponseOfbooleanSHA1Miy85_SUl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfbooleanSHA1Miy85_SUl" nillable="true" type="tns:BaseResponseOfbooleanSHA1Miy85_SUl" />
  <xs:complexType name="ServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponse" nillable="true" type="tns:ServiceResponse" />
  <xs:complexType name="BaseRequestOfServiceAvailabilityRequestSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceAvailabilityRequest" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q2:ServiceAvailabilityRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfServiceAvailabilityRequestSHA1O2vOAcMM" nillable="true" type="tns:BaseRequestOfServiceAvailabilityRequestSHA1O2vOAcMM" />
  <xs:complexType name="BaseResponseOfServiceAvailabilityResponseSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceAvailabilityResponse" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q3:ServiceAvailabilityResponse" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfServiceAvailabilityResponseSHA1O2vOAcMM" nillable="true" type="tns:BaseResponseOfServiceAvailabilityResponseSHA1O2vOAcMM" />
  <xs:complexType name="BaseRequestOfstringSHA1Miy85_SUl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfstringSHA1Miy85_SUl" nillable="true" type="tns:BaseRequestOfstringSHA1Miy85_SUl" />
  <xs:complexType name="BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfValueNamePair" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q4:ArrayOfValueNamePair" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" nillable="true" type="tns:BaseResponseOfArrayOfValueNamePairSHA1O2vOAcMM" />
  <xs:complexType name="BaseRequestOflongSHA1Miy85_SUl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOflongSHA1Miy85_SUl" nillable="true" type="tns:BaseRequestOflongSHA1Miy85_SUl" />
  <xs:complexType name="BaseResponseOfAddressDetailsSHA1YRdDhl3A">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AddressDetails" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.Address.QueryInterface" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RadiusR.Address.QueryInterface" minOccurs="0" name="Data" nillable="true" type="q5:AddressDetails" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfAddressDetailsSHA1YRdDhl3A" nillable="true" type="tns:BaseResponseOfAddressDetailsSHA1YRdDhl3A" />
  <xs:complexType name="BaseRequestOfSubscriberGetBillsRequestSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SubscriberGetBillsRequest" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q6:SubscriberGetBillsRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSubscriberGetBillsRequestSHA1O2vOAcMM" nillable="true" type="tns:BaseRequestOfSubscriberGetBillsRequestSHA1O2vOAcMM" />
  <xs:complexType name="BaseResponseOfArrayOfSubscriberGetBillsResponseSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfSubscriberGetBillsResponse" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q7:ArrayOfSubscriberGetBillsResponse" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfSubscriberGetBillsResponseSHA1O2vOAcMM" nillable="true" type="tns:BaseResponseOfArrayOfSubscriberGetBillsResponseSHA1O2vOAcMM" />
  <xs:complexType name="BaseRequestOfSubscriberPayBillsRequestSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SubscriberPayBillsRequest" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q8:SubscriberPayBillsRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSubscriberPayBillsRequestSHA1O2vOAcMM" nillable="true" type="tns:BaseRequestOfSubscriberPayBillsRequestSHA1O2vOAcMM" />
  <xs:complexType name="BaseResponseOfSubscriberPayBillsResponseSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SubscriberPayBillsResponse" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q9:SubscriberPayBillsResponse" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfSubscriberPayBillsResponseSHA1O2vOAcMM" nillable="true" type="tns:BaseResponseOfSubscriberPayBillsResponseSHA1O2vOAcMM" />
  <xs:complexType name="BaseRequestOfPayBillsRequestSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PayBillsRequest" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q10:PayBillsRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfPayBillsRequestSHA1O2vOAcMM" nillable="true" type="tns:BaseRequestOfPayBillsRequestSHA1O2vOAcMM" />
  <xs:complexType name="BaseResponseOfPayBillsResponseSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PayBillsResponse" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q11:PayBillsResponse" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfPayBillsResponseSHA1O2vOAcMM" nillable="true" type="tns:BaseResponseOfPayBillsResponseSHA1O2vOAcMM" />
  <xs:complexType name="BaseRequestOfNewCustomerRegisterRequestSHA1O2vOAcMM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NewCustomerRegisterRequest" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Data" nillable="true" type="q12:NewCustomerRegisterRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfNewCustomerRegisterRequestSHA1O2vOAcMM" nillable="true" type="tns:BaseRequestOfNewCustomerRegisterRequestSHA1O2vOAcMM" />
  <xs:complexType name="BaseResponseOfArrayOfKeyValueOfstringstringSHA1PGu3YCeQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfKeyValueOf{0}{1}{#}" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q13:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfKeyValueOfstringstringSHA1PGu3YCeQ" nillable="true" type="tns:BaseResponseOfArrayOfKeyValueOfstringstringSHA1PGu3YCeQ" />
</xs:schema>