NetspeedMainWebsite/Connected Services/NetspeedServiceReference/NetspeedService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CustomerContactRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestSubTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="RequestTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerContactRequest" nillable="true" type="tns:CustomerContactRequest" />
  <xs:complexType name="ServiceAvailabilityRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="bbk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAvailabilityRequest" nillable="true" type="tns:ServiceAvailabilityRequest" />
  <xs:complexType name="ServiceAvailabilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdslDistance" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdslPortState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdslSVUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdslSpeed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BBK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiberDistance" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FiberPortState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiberSVUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiberSpeed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HasInfrastructureAdsl" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasInfrastructureFiber" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasInfrastructureVdsl" type="xs:boolean" />
      <xs:element minOccurs="0" name="VdslDistance" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VdslPortState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VdslSVUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VdslSpeed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAvailabilityResponse" nillable="true" type="tns:ServiceAvailabilityResponse" />
  <xs:complexType name="ArrayOfValueNamePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueNamePair" nillable="true" type="tns:ValueNamePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueNamePair" nillable="true" type="tns:ArrayOfValueNamePair" />
  <xs:complexType name="ValueNamePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueNamePair" nillable="true" type="tns:ValueNamePair" />
  <xs:complexType name="SubscriberGetBillsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriberNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriberGetBillsRequest" nillable="true" type="tns:SubscriberGetBillsRequest" />
  <xs:complexType name="ArrayOfSubscriberGetBillsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriberGetBillsResponse" nillable="true" type="tns:SubscriberGetBillsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriberGetBillsResponse" nillable="true" type="tns:ArrayOfSubscriberGetBillsResponse" />
  <xs:complexType name="SubscriberGetBillsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanBePaid" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasEArchiveBill" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LastPaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriberGetBillsResponse" nillable="true" type="tns:SubscriberGetBillsResponse" />
  <xs:complexType name="SubscriberPayBillsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OkUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayableAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubscriberNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriberPayBillsRequest" nillable="true" type="tns:SubscriberPayBillsRequest" />
  <xs:complexType name="SubscriberPayBillsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HtmlForm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriberPayBillsResponse" nillable="true" type="tns:SubscriberPayBillsResponse" />
  <xs:complexType name="PayBillsRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BillIds" nillable="true" type="q1:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayBillsRequest" nillable="true" type="tns:PayBillsRequest" />
  <xs:complexType name="PayBillsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayBillsResponse" nillable="true" type="tns:PayBillsResponse" />
  <xs:complexType name="NewCustomerRegisterRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorporateCustomerInfo" nillable="true" type="tns:CorporateCustomerInfo" />
      <xs:element minOccurs="0" name="CustomerGeneralInfo" nillable="true" type="tns:CustomerGeneralInfo" />
      <xs:element minOccurs="0" name="IDCardInfo" nillable="true" type="tns:IDCardInfo" />
      <xs:element minOccurs="0" name="IndividualCustomerInfo" nillable="true" type="tns:IndividualCustomerInfo" />
      <xs:element minOccurs="0" name="SubscriptionInfo" nillable="true" type="tns:SubscriptionRegistrationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewCustomerRegisterRequest" nillable="true" type="tns:NewCustomerRegisterRequest" />
  <xs:complexType name="CorporateCustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentralSystemNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyAddress" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="ExecutiveBirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutiveFathersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutiveMothersMaidenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutiveMothersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutiveNationality" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExecutiveProfession" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExecutiveResidencyAddress" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="ExecutiveSex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxOffice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeRegistrationNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorporateCustomerInfo" nillable="true" type="tns:CorporateCustomerInfo" />
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddressText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApartmentID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ApartmentNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoorID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DoorNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeighbourhoodID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NeighbourhoodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuralCode" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="StreetID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressInfo" nillable="true" type="tns:AddressInfo" />
  <xs:complexType name="CustomerGeneralInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingAddress" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="ContactPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherPhoneNos" nillable="true" type="tns:ArrayOfPhoneNoListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerGeneralInfo" nillable="true" type="tns:CustomerGeneralInfo" />
  <xs:complexType name="ArrayOfPhoneNoListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneNoListItem" nillable="true" type="tns:PhoneNoListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneNoListItem" nillable="true" type="tns:ArrayOfPhoneNoListItem" />
  <xs:complexType name="PhoneNoListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneNoListItem" nillable="true" type="tns:PhoneNoListItem" />
  <xs:complexType name="IDCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfIssue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Neighbourhood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassportNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceOfIssue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCKNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VolumeNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IDCardInfo" nillable="true" type="tns:IDCardInfo" />
  <xs:complexType name="IndividualCustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FathersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersMaidenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Profession" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ResidencyAddress" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndividualCustomerInfo" nillable="true" type="tns:IndividualCustomerInfo" />
  <xs:complexType name="SubscriptionRegistrationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingPeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DomainID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SetupAddress" nillable="true" type="tns:AddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionRegistrationInfo" nillable="true" type="tns:SubscriptionRegistrationInfo" />
</xs:schema>