NetspeedMainWebsite/Connected Services/NetspeedServiceReference/NetspeedService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NetspeedService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
      <xsd:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RadiusR.Address.QueryInterface" />
      <xsd:import schemaLocation="http://192.168.1.63:5050/NetspeedService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INetspeedService_RegisterCustomerContact_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerContact" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_RegisterCustomerContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerContactResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_ServiceAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailability" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_ServiceAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetProvinceDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistricts" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetProvinceDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetDistrictRuralRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegions" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetDistrictRuralRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetRuralRegionNeighbourhoods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoods" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetRuralRegionNeighbourhoods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoodsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetNeighbourhoodStreets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreets" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetNeighbourhoodStreets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreetsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetStreetBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildings" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetStreetBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetBuildingApartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartments" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetBuildingApartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetApartmentAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddress" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetApartmentAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddressResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetBills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBills" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_GetBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_SubscriberPaymentVPOS_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriberPaymentVPOS" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_SubscriberPaymentVPOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriberPaymentVPOSResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_PayBills_InputMessage">
    <wsdl:part name="parameters" element="tns:PayBills" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_PayBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayBillsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_NewCustomerRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCustomerRegister" />
  </wsdl:message>
  <wsdl:message name="INetspeedService_NewCustomerRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCustomerRegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="INetspeedService">
    <wsdl:operation name="RegisterCustomerContact">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/RegisterCustomerContact" message="tns:INetspeedService_RegisterCustomerContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/RegisterCustomerContactResponse" message="tns:INetspeedService_RegisterCustomerContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/ServiceAvailability" message="tns:INetspeedService_ServiceAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/ServiceAvailabilityResponse" message="tns:INetspeedService_ServiceAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetProvinces" message="tns:INetspeedService_GetProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetProvincesResponse" message="tns:INetspeedService_GetProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetProvinceDistricts" message="tns:INetspeedService_GetProvinceDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetProvinceDistrictsResponse" message="tns:INetspeedService_GetProvinceDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetDistrictRuralRegions" message="tns:INetspeedService_GetDistrictRuralRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetDistrictRuralRegionsResponse" message="tns:INetspeedService_GetDistrictRuralRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetRuralRegionNeighbourhoods" message="tns:INetspeedService_GetRuralRegionNeighbourhoods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetRuralRegionNeighbourhoodsResponse" message="tns:INetspeedService_GetRuralRegionNeighbourhoods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetNeighbourhoodStreets" message="tns:INetspeedService_GetNeighbourhoodStreets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetNeighbourhoodStreetsResponse" message="tns:INetspeedService_GetNeighbourhoodStreets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetStreetBuildings" message="tns:INetspeedService_GetStreetBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetStreetBuildingsResponse" message="tns:INetspeedService_GetStreetBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetBuildingApartments" message="tns:INetspeedService_GetBuildingApartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetBuildingApartmentsResponse" message="tns:INetspeedService_GetBuildingApartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetApartmentAddress" message="tns:INetspeedService_GetApartmentAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetApartmentAddressResponse" message="tns:INetspeedService_GetApartmentAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBills">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/GetBills" message="tns:INetspeedService_GetBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/GetBillsResponse" message="tns:INetspeedService_GetBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscriberPaymentVPOS">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/SubscriberPaymentVPOS" message="tns:INetspeedService_SubscriberPaymentVPOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/SubscriberPaymentVPOSResponse" message="tns:INetspeedService_SubscriberPaymentVPOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/PayBills" message="tns:INetspeedService_PayBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/PayBillsResponse" message="tns:INetspeedService_PayBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewCustomerRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedService/NewCustomerRegister" message="tns:INetspeedService_NewCustomerRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedService/NewCustomerRegisterResponse" message="tns:INetspeedService_NewCustomerRegister_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INetspeedService" type="tns:INetspeedService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterCustomerContact">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/RegisterCustomerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/ServiceAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetProvinceDistricts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetDistrictRuralRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetRuralRegionNeighbourhoods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetNeighbourhoodStreets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetStreetBuildings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetBuildingApartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetApartmentAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBills">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/GetBills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriberPaymentVPOS">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/SubscriberPaymentVPOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/PayBills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCustomerRegister">
      <soap:operation soapAction="http://tempuri.org/INetspeedService/NewCustomerRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetspeedService">
    <wsdl:port name="BasicHttpBinding_INetspeedService" binding="tns:BasicHttpBinding_INetspeedService">
      <soap:address location="http://192.168.1.63:5050/NetspeedService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>