NetspeedMainWebsite/Connected Services/MainSiteServiceReference/MainSiteService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainSiteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55311/MainSiteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55311/MainSiteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55311/MainSiteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.Netspeed.Requests" />
      <xsd:import schemaLocation="http://localhost:55311/MainSiteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
      <xsd:import schemaLocation="http://localhost:55311/MainSiteService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.Netspeed.Responses" />
      <xsd:import schemaLocation="http://localhost:55311/MainSiteService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainSiteService_RegisterCustomerContact_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerContact" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_RegisterCustomerContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerContactResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_ServiceAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailability" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_ServiceAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetProvinceDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistricts" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetProvinceDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetDistrictRuralRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegions" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetDistrictRuralRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetRuralRegionNeighbourhoods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoods" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetRuralRegionNeighbourhoods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoodsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetNeighbourhoodStreets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreets" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetNeighbourhoodStreets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreetsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetStreetBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildings" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetStreetBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetBuildingApartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartments" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetBuildingApartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetApartmentAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddress" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetApartmentAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetBills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBills" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_SubscriberPaymentVPOS_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriberPaymentVPOS" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_SubscriberPaymentVPOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriberPaymentVPOSResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_PayBills_InputMessage">
    <wsdl:part name="parameters" element="tns:PayBills" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_PayBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayBillsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_NewCustomerRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCustomerRegister" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_NewCustomerRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCustomerRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_SendGenericSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGenericSMS" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_SendGenericSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGenericSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetNationalities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalities" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetNationalities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetSexes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSexes" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetSexes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSexesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetProfessions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessions" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetProfessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessionsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetIDCardTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIDCardTypes" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetIDCardTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIDCardTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetKeyFragment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyFragment" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GetKeyFragment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyFragmentResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_ExternalTariffList_InputMessage">
    <wsdl:part name="parameters" element="tns:ExternalTariffList" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_ExternalTariffList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExternalTariffListResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GenericAppSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GenericAppSettings" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_GenericAppSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenericAppSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_IDCardValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:IDCardValidation" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_IDCardValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:IDCardValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_CheckRegisteredCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegisteredCustomer" />
  </wsdl:message>
  <wsdl:message name="IMainSiteService_CheckRegisteredCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegisteredCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainSiteService">
    <wsdl:operation name="RegisterCustomerContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/RegisterCustomerContact" message="tns:IMainSiteService_RegisterCustomerContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/RegisterCustomerContactResponse" message="tns:IMainSiteService_RegisterCustomerContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/ServiceAvailability" message="tns:IMainSiteService_ServiceAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/ServiceAvailabilityResponse" message="tns:IMainSiteService_ServiceAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetProvinces" message="tns:IMainSiteService_GetProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetProvincesResponse" message="tns:IMainSiteService_GetProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetProvinceDistricts" message="tns:IMainSiteService_GetProvinceDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetProvinceDistrictsResponse" message="tns:IMainSiteService_GetProvinceDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetDistrictRuralRegions" message="tns:IMainSiteService_GetDistrictRuralRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetDistrictRuralRegionsResponse" message="tns:IMainSiteService_GetDistrictRuralRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetRuralRegionNeighbourhoods" message="tns:IMainSiteService_GetRuralRegionNeighbourhoods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetRuralRegionNeighbourhoodsResponse" message="tns:IMainSiteService_GetRuralRegionNeighbourhoods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetNeighbourhoodStreets" message="tns:IMainSiteService_GetNeighbourhoodStreets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetNeighbourhoodStreetsResponse" message="tns:IMainSiteService_GetNeighbourhoodStreets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetStreetBuildings" message="tns:IMainSiteService_GetStreetBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetStreetBuildingsResponse" message="tns:IMainSiteService_GetStreetBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetBuildingApartments" message="tns:IMainSiteService_GetBuildingApartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetBuildingApartmentsResponse" message="tns:IMainSiteService_GetBuildingApartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetApartmentAddress" message="tns:IMainSiteService_GetApartmentAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetApartmentAddressResponse" message="tns:IMainSiteService_GetApartmentAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetBills" message="tns:IMainSiteService_GetBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetBillsResponse" message="tns:IMainSiteService_GetBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscriberPaymentVPOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/SubscriberPaymentVPOS" message="tns:IMainSiteService_SubscriberPaymentVPOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/SubscriberPaymentVPOSResponse" message="tns:IMainSiteService_SubscriberPaymentVPOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/PayBills" message="tns:IMainSiteService_PayBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/PayBillsResponse" message="tns:IMainSiteService_PayBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewCustomerRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/NewCustomerRegister" message="tns:IMainSiteService_NewCustomerRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/NewCustomerRegisterResponse" message="tns:IMainSiteService_NewCustomerRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGenericSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/SendGenericSMS" message="tns:IMainSiteService_SendGenericSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/SendGenericSMSResponse" message="tns:IMainSiteService_SendGenericSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNationalities">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetNationalities" message="tns:IMainSiteService_GetNationalities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetNationalitiesResponse" message="tns:IMainSiteService_GetNationalities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSexes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetSexes" message="tns:IMainSiteService_GetSexes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetSexesResponse" message="tns:IMainSiteService_GetSexes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfessions">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetProfessions" message="tns:IMainSiteService_GetProfessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetProfessionsResponse" message="tns:IMainSiteService_GetProfessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIDCardTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetIDCardTypes" message="tns:IMainSiteService_GetIDCardTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetIDCardTypesResponse" message="tns:IMainSiteService_GetIDCardTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyFragment">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GetKeyFragment" message="tns:IMainSiteService_GetKeyFragment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GetKeyFragmentResponse" message="tns:IMainSiteService_GetKeyFragment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExternalTariffList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/ExternalTariffList" message="tns:IMainSiteService_ExternalTariffList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/ExternalTariffListResponse" message="tns:IMainSiteService_ExternalTariffList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenericAppSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/GenericAppSettings" message="tns:IMainSiteService_GenericAppSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/GenericAppSettingsResponse" message="tns:IMainSiteService_GenericAppSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IDCardValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/IDCardValidation" message="tns:IMainSiteService_IDCardValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/IDCardValidationResponse" message="tns:IMainSiteService_IDCardValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRegisteredCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainSiteService/CheckRegisteredCustomer" message="tns:IMainSiteService_CheckRegisteredCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainSiteService/CheckRegisteredCustomerResponse" message="tns:IMainSiteService_CheckRegisteredCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainSiteService" type="tns:IMainSiteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterCustomerContact">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/RegisterCustomerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/ServiceAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetProvinceDistricts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetDistrictRuralRegions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetRuralRegionNeighbourhoods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetNeighbourhoodStreets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetStreetBuildings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetBuildingApartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetApartmentAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBills">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetBills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriberPaymentVPOS">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/SubscriberPaymentVPOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/PayBills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCustomerRegister">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/NewCustomerRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGenericSMS">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/SendGenericSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNationalities">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetNationalities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSexes">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetSexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfessions">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetProfessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIDCardTypes">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetIDCardTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyFragment">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GetKeyFragment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExternalTariffList">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/ExternalTariffList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericAppSettings">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/GenericAppSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDCardValidation">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/IDCardValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRegisteredCustomer">
      <soap:operation soapAction="http://tempuri.org/IMainSiteService/CheckRegisteredCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainSiteService">
    <wsdl:port name="BasicHttpBinding_IMainSiteService" binding="tns:BasicHttpBinding_IMainSiteService">
      <soap:address location="http://localhost:55311/MainSiteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>